*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background:#F2D0A7;
    width: 100%;
    height: 120%;
}
/*Header*/
header{
    background-color: #260F01;
    height: 150px;
}
h1{
    color: #faebd7;
    text-align: center;
    align-items: baseline;
    font-family: 'Instrument Serif', serif;
    font-size: 80px;
}
#imgprincipal{
    display: block;
    width: 8vw;
    height: 16vh;
    border-radius: 50%;
    padding: 1%;
    margin-left: 2%;
    float:left;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #594839;
    height: 8vh;
    width: 100vw;
    font-family: 'Bree Serif', serif;

}
nav a{ 
    text-decoration: none;
    display: inline-flex;
    justify-content: space-around;
    color: #F2D0A7;
    font-family: 'Bree Serif', serif;
    font-size: 16pt;
    transition: 0.3s;
}
nav a:hover{ 
    color: #D9AA71;
}
.nav-bar{
    position: relative;
    left: -30%;
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.nav-bar li{
    margin-left: 10%;
}


/*Main pagina inicial*/
main{
    display: flex;
    flex-wrap: wrap;
}
#linhadotempo{
    max-width: 100%;
    display: block;
}

.img-home{
    font-size: xx-large;
    display: flex;
    flex-wrap: wrap;
}
.img-home h4{
    font-size: xx-large;
}
.img-home > div{
    flex: 1 1 200px;
    position: relative;
    top: 10%;
}

/*Footer*/
footer{
    position: absolute;
    bottom: -10%;
    width: 100vw;
    background-color: #594839;
    color: antiquewhite;
    height: 150px;
    padding: 50px;
}
footer p{
    display: inline;
    margin-left: 50px;
	margin-top: 90px;
    font-family: 'Bree Serif', serif;
    font-size: 16pt;

}
#imgfooter{
    display: block;
    height: 80px;
    width: 80px;
    float: left;
}
 /*Main Barroco e Arcadismo*/

.main-escolas{
    display: flex;
    flex-wrap: nowrap;

}
#linhadotempo{
    max-width: 100%;
    display: block;
}

#barroco-img{
    display: block;
    float: left;
    position: absolute;
    top: 50%;
    left: 79%;
    width: 20vw;
    height: 20vh;
    border-radius: 2%;
}
.barr-video{
    max-width: 100%;
    position: relative;
    top: 120%;
    right: 50%;
    width: 20vw;
    height: 15vw;
}

.corpo-sobre li a{
    color: #594839;
    text-decoration: none;

}
.img-home > .corpo-sobre {
    flex: 1 1 200px;
    position: relative;
    top: 30%;
}


    

.body-escola{
    color: #260F01;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 10% 43% 43%;
    
}
.body-escola > div{
    grid-column: 2/3;
    position: absolute;
    top: 30%;
}
.body-escola > img{
    grid-column: 0/1;
    display: block;
    border-radius: 30%;
    position: relative;
    top: 50%;
}
.body-escola h1{
    color: #260F01;
}
.body-escola h4{
    font-size: xx-large;
}






#menu_quin{
    background-color: #594839;
    height: 30px;
}

#menu_quin ul li{ 
    display: inline;
    color: black;
}




#menu_quin ul li a{ 
    text-decoration: none;
    display: inline-block;
    color: #F2D0A7;
    margin-left: 90px;
    margin-right: 40px;
    padding-inline: 24px;
    font-family: 'Bree Serif', serif;
    font-size: 16pt;
}

#menu_quin ul li a:hover{ 
    text-decoration: none;
    display: inline-block;
    color: #8B8C80;
    margin-left: 90px;
    margin-right: 40px;
    padding-inline: 24px;
    font-family: 'Bree Serif', serif;
    font-size: 16pt;
}
h4{
    font-size: 16pt;
    font-family: 'Bree Serif', serif;
    color: rgb(29, 29, 29);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-top: 30px;

}
#txt-barroco{
    grid-column: 2;
    font-size: 20%;

}




#quin{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
#quin #texto{
    margin-top: 50px;
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: justify;
}
#quin #texto p{
    font-size: 18px;
    padding: 10px;
}
#quin #titulo {
    grid-column-start: 1;
    grid-column-end: 3;
}
#quin #imagem {
    grid-column-start: 5;
}
#quin #imagem img{
    margin-top: 23px;
    margin-left: 23px;
    margin-right: 50px;
    max-width: 300px;
}
#quin #videoquin {
    grid-column-start: 1;
    position: relative;
    bottom:400px;
    margin-left: 20%;
    width: 600px;
    height: 337.50px;
    margin-bottom: 1px;;
}


