*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: #595340;
    height: 150px;
}
body{
    background: linear-gradient(to right, #A4A697, #CCCFBC)
}
#imgprincipal{
    display: block;
    width: 150px;
    height: 150px;
    padding: 12px;
    margin-left: 40px;
    float:left;
}
h1,h3 {
    color: #faebd7;
    text-align: center;
}
h1{
    font-size: 80px;
    font-family: 'Instrument Serif', serif;
}
h3{
    font-size: 40px;
}
#menu{
    background-color: #A4A697;
    height: 30px;
}
#menu ul li{ 
    display: inline;
    color: black;
}
#menu ul li a{ 
    text-decoration: none;
    display: inline-block;
    color: black;
    margin-left: 48px;
    margin-right: 48px;
    padding-left: 30px;
    font-family: 'Bree Serif', serif;
    font-size: 16pt;
}
#menu ul li a:hover{ 
    text-decoration: none;
    display: inline-block;
    color: #8B8C80;
    margin-left: 48px;
    margin-right: 48px;
    padding-left: 30px;
    font-family: 'Bree Serif', serif;
    font-size: 16pt;
}
h4{
    font-size: 16pt;
    font-family: 'Bree Serif', serif;
    color: rgb(29, 29, 29);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-top: 10px;

}
#linhadotempo{
    display: block;
    width: 100vw;
}
footer{
    background-color:#595340;
    color: antiquewhite;
    height: 200px;
    padding: 50px;
}
footer p{
    display: inline;
    margin-left: 50px;
    margin-top: 50px;
}
#imgfooter{
    display: block;
    height: 115px;
    width: 115px;
    float: left;
}